.navbar {
    background-color: #636262bb;
    overflow: hidden;
    display: flex;
    position: relative;;
}

.navbar a {
    display: block;
    color: #ebdc12;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-decoration: underline red;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}
