.navbar {
    background-color: #636362bb;
    overflow: hidden;
    display: flex;
    position: relative;;
}

.navbar a {
    display: block;
    color: #a3e9da;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    text-decoration: underline rgb(106, 119, 93);
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}
