.principal-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.principal-section h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-decoration: underline;
}

.button-container {
  display: flex;
  gap: 20px; /* Espacio entre los botones */
  justify-content: center; /* Centra los botones horizontalmente */
  margin-top: 30px; /* Espacio por encima del contenedor de botones */
}

.button-container button {
  width: 150px; /* Ancho de los botones */
  height: 150px; /* Altura de los botones */
  font-size: 28px; /* Tamaño de la fuente del texto */
  cursor: pointer;
  border: 2px solid hsl(288, 91%, 48%); /* Borde de los botones */
  border-radius: 10px; /* Bordes redondeados */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: hsl(0, 2%, 51%); /* Color de fondo */
  transition: background-color 0.3s ease; /* Efecto de transición al pasar el ratón */
  text-decoration: underline black;
}

.button-container button:hover {
  background-color: hsl(0, 16%, 27%); /* Color de fondo al pasar el ratón */
}

@media (max-width: 768px) {
  .principal-section h1 {
    font-size: 20px;
  }
  .button-container {
    flex-direction: column; /* Cambia la dirección de los botones a columna en pantallas más pequeñas */
    gap: 10px; /* Reduce el espacio entre los botones */
  }
}